body {
  background-color: #f5f5f5;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  margin: 0;
}

h1 {
  font-weight: 700;
}

p {
  letter-spacing: 2px;
  line-height: 20px;
  text-align: justify;
}

a {
  color: inherit;
}

footer p {
  text-align: right;
  padding: 30px;
}

ul {
  float: right;
}

ul li {
  display: inline-block;
}

nav ul li a {
  color: #f5f5f5;
  text-decoration: none;
  background: #607d8b;
  padding: 10px;
}

nav ul li a:hover {
  color: #000;
}

.logo {
  width: 100px;
}

section {
  width: 80%;
  margin: 0 auto;
  min-height: 70vh;
}

footer {
  background: #607d8b;
  height: 200px;
}

.card {
  width: 48%;
  margin: 1%;
  float: left;
}
